{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link rel="stylesheet" href="{% static 'CSS/styles.css' %}">
</head>
<body>
<div class="NavBar">
    <div class="NavBar-Home">
         <a href="{% url 'MainPage' %}" >
             Nautilus Law
             <img class="HomePageIcon" src="{% static 'images/homeButton.png' %}" alt="Home">
         </a>
    </div>
    <div class="NavBar-Element">
         <a href="{% url 'MainPage' %}" >
             Home
         </a>
    </div>
    <div class="NavBar-Element">
         <a href="{% url 'ReviewPage' %}" >
             Reviews
         </a>
    </div>
    <div class="NavBar-Element">
         <a href="{% url 'TeamPage' %}" >
             Team
         </a>
    </div>
    <div class="NavBar-Element">
         <a href="{% url 'PricingPage' %}" >
             Pricing
         </a>
    </div>
    <div class="NavBar-Consultation">
         <a href="{% url 'ConsultationPage' %}" >
             Make a Consultation
         </a>
    </div>
</div>
<div class="Header">
    <h1>Welcome to Nautilus Law</h1>
    <p>Ranked number 1 in the UK for civil and criminal law</p>
    <p>and here is why we're perfect for you</p>
</div>
<div id="Main-Container">
    <div class="Main-Box">
        <div class="Main-Box-Header">
            <p class="Main-Box-Title">Trust</p>
            <p class="Main-Box-Type">We always put clients first</p>
        </div>
        <div class="Main-Box-Body">
            <p class="Main-Box-Info">Our clients are our top priority here at Nautilus Law and we ensure everything from consultation to final court day is kept private and secure. Our reputation is known for having the most air-tight security and data security against 3rd party sites.</p>
            <p class="Main-Box-Includes">Evidence:</p>
            <ul>
                <li class="Main-Box-Points">Reviews from previous clients</li>
                <li class="Main-Box-Points">Zero data breaches</li>
                <li class="Main-Box-Points">Secure system for access to consultation information</li>
            </ul>
        </div>
    </div>
    <div class="Main-Box">
        <div class="Main-Box-Header">
            <p class="Main-Box-Title">Action</p>
            <p class="Main-Box-Type">Years of evidence and results</p>
        </div>
        <div class="Main-Box-Body">
            <p class="Main-Box-Info">We have multiple top industry staff members with many years in the industry they have the tool-kit to win. This paired with our incredible intern and secretary team gives us the edge to shrive. More information can be found on the team page.</p>
            <p class="Main-Box-Includes">Evidence:</p>
            <ul>
                <li class="Main-Box-Points">Positive track records with variety of cases</li>
                <li class="Main-Box-Points">Multitude of advanced senior staff</li>
                <li class="Main-Box-Points">Consantly improving service</li>
                <li class="Main-Box-Points">Ranked number 1 in the UK and ireland for civil and criminal law fields</li>
            </ul>
        </div>
    </div>
    <div class="Main-Box">
        <div class="Main-Box-Header">
            <p class="Main-Box-Title">Clarity</p>
            <p class="Main-Box-Type">We provide straightforward plans and advice</p>
        </div>
        <div class="Main-Box-Body">
            <p class="Main-Box-Info">We believe in providing you with a clear timeline and actions to take control of your situation. We constantly advise on legal option and advice on your current situation and will always keep you updated on your ongoing cases</p>
            <p class="Main-Box-Includes">Includes:</p>
            <ul>
                <li class="Main-Box-Points">Detailed legal plan</li>
                <li class="Main-Box-Points">Zero hidden costs or fees</li>
                <li class="Main-Box-Points">Collaborative approach to improve results</li>
            </ul>
        </div>
    </div>
</div>
<div class="Footer">
    <div class="Footer-Column">
        <p class="Footer-Column-Title">Social Media</p>
        <div class="Footer-Column-Social">
            <img src="{% static 'images/in.png' %}" alt="LinkedIn">
            <p class="Footer-Column-Text">@NautilusLaw</p>
        </div>
        <div class="Footer-Column-Social">
            <img src="{% static 'images/fb.png' %}" alt="FaceBook">
            <p class="Footer-Column-Text">@NautilusLaw</p>
        </div>
        <div class="Footer-Column-Social">
            <img src="{% static 'images/x.png' %}" alt="X">
            <p class="Footer-Column-Text">@NautilusLaw</p>
        </div>
        <div class="Footer-Column-Social">
            <img src="{% static 'images/insatgram.png' %}" alt="Instagram">
            <p class="Footer-Column-Text">@NautilusLaw</p>
        </div>
    </div>
    <div class="Footer-Column">
        <p class="Footer-Column-Title">Links</p>
        <a href="{% url 'MainPage' %}" >Home</a>
        <a href="{% url 'ReviewPage' %}" >Reviews</a>
        <a href="{% url 'TeamPage' %}" >Team</a>
        <a href="{% url 'PricingPage' %}" >Pricing</a>
        <a href="{% url 'ConsultationPage' %}" >Consultation</a>
    </div>
    <div class="Footer-Column">
        <p class="Footer-Column-Title">Locations</p>
        <p class="Footer-Column-Location">London</p>
        <p class="Footer-Column-Text">41 Thomas More St<br>E1W 1YY</p>
        <p class="Footer-Column-Location">Manchester</p>
        <p class="Footer-Column-Text">House, Bridge St<br>M3 3BN</p>
        <p class="Footer-Column-Location">Birmingham</p>
        <p class="Footer-Column-Text">210 High St, Harborne<br>B17 9PP</p>
    </div>
    <div class="Footer-Column">
        <p class="Footer-Column-Title">Contacts</p>
        <p class="Footer-Column-Text">24/7 Help line:</p>
        <p class="Footer-Column-Phone">+44 7464 57844</p>
        <p class="Footer-Column-Text">consultations@nautiluslaw.com</p>
    </div>
</div>
</body>
</html>