{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team</title>
    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}">
</head>
<body>
<div class="NavBar">
    <div class="NavBar-Home">
         <a href="{% url 'LandingPage' %}" >
             Nautilus Law
             <img class="HomePageIcon" src="{% static 'images/homeButton.png' %}" alt="Home">
         </a>
    </div>
    <div class="NavBar-Element">
         <a href="{% url 'MainPage' %}" >
             Home
         </a>
    </div>
    <div class="NavBar-Element">
         <a href="{% url 'ReviewPage' %}" >
             Reviews
         </a>
    </div>
    <div class="NavBar-Element">
         <a href="{% url 'TeamPage' %}" >
             Team
         </a>
    </div>
    <div class="NavBar-Element">
         <a href="{% url 'PricingPage' %}" >
             Pricing
         </a>
    </div>
    <div class="NavBar-Consultation">
         <a href="{% url 'ConsultationPage' %}" >
             Make a Consultation
         </a>
    </div>
</div>
<div class="Header">
    <h1>Meet Our Team</h1>
    <p>Our team is made up of the top quality industry leaders</p>
    <p>With years of experience in a multitude of legal areas, we know how to win a case</p>
</div>
<div id="Team-Container">
        {% for teams in NautilusTeam %}
            <div class="Team-Box">
            <img src="{% static 'images/' %}{{ teams.teamPhoto }}.jpg" alt="{{ teams.firstname }} {{ teams.lastname }}">
            <p class="Team-Box-Name">{{ teams.firstname }} {{ teams.lastname }}</p>
            <p class="Team-Box-Law">{{ teams.lawField }}</p>
            </div>
        {% endfor %}
</div>
<div class="Footer">
    <div class="Footer-Column">
        <p class="Footer-Column-Title">Social Media</p>
        <div class="Footer-Column-Social">
            <img src="{% static 'images/in.png' %}" alt="LinkedIn">
            <p class="Footer-Column-Text">@NautilusLaw</p>
        </div>
        <div class="Footer-Column-Social">
            <img src="{% static 'images/fb.png' %}" alt="FaceBook">
            <p class="Footer-Column-Text">@NautilusLaw</p>
        </div>
        <div class="Footer-Column-Social">
            <img src="{% static 'images/x.png' %}" alt="X">
            <p class="Footer-Column-Text">@NautilusLaw</p>
        </div>
        <div class="Footer-Column-Social">
            <img src="{% static 'images/insatgram.png' %}" alt="Instagram">
            <p class="Footer-Column-Text">@NautilusLaw</p>
        </div>
    </div>
    <div class="Footer-Column">
        <p class="Footer-Column-Title">Links</p>
        <a href="{% url 'MainPage' %}" >Home</a>
        <a href="{% url 'LandingPage' %}" >About Us</a>
        <a href="{% url 'ReviewPage' %}" >Reviews</a>
        <a href="{% url 'TeamPage' %}" >Team</a>
        <a href="{% url 'PricingPage' %}" >Pricing</a>
        <a href="{% url 'ConsultationPage' %}" >Consultation</a>
    </div>
    <div class="Footer-Column">
        <p class="Footer-Column-Title">Locations</p>
        <p class="Footer-Column-Location">London</p>
        <p class="Footer-Column-Text">41 Thomas More St<br>E1W 1YY</p>
        <p class="Footer-Column-Location">Manchester</p>
        <p class="Footer-Column-Text">House, Bridge St<br>M3 3BN</p>
        <p class="Footer-Column-Location">Birmingham</p>
        <p class="Footer-Column-Text">210 High St, Harborne<br>B17 9PP</p>
    </div>
    <div class="Footer-Column">
        <p class="Footer-Column-Title">Contacts</p>
        <p class="Footer-Column-Text">24/7 Help line:</p>
        <p class="Footer-Column-Phone">+44 7464 57844</p>
        <p class="Footer-Column-Text">consultations@nautiluslaw.com</p>
    </div>
</div>
</body>
</html>